# Ignore MySQL database files
inventory-service/docker/mysql/data/
order-service/mysql/
api-gateway/volume-data/mysql_keycloak_data/

# Ignore MongoDB database files
product-service/data/
product-service/data/journal/
product-service/data/*.wt
product-service/data/*.log
product-service/data/*.turtle

# Ignore system files
*.sock
*.pid
*.log
*.tmp

# Ignore environment files
.env

# Ignore large files & build artifacts
*.class
*.jar
*.war
*.zip
*.tar.gz
*.out
node_modules/
target/
bin/
build/
dist/

# Ignore IDE and editor files
.vscode/
.idea/
*.iml

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Normalize line endings
* text=auto
